*.log
*.pot
*.pyc
*.exe
__pycache__/
db.sqllite3
db.sqllite3-journal
.vscode


migrations
media
env
adeva_project/local_settings.py
adeva_project/settings.py
adeva_project/wsgi.py
config_cpanel
config_original_bkp

wsgi.py