.column-formatar_data_vcto {
  width: 20px; /* Ajuste conforme necessário */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-formatar_data_vcto {
  width: 20px; /* Ajuste conforme necessário */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
