{% extends "admin/base_site.html" %}

{% block extrastyle %}
<style>
    .custom-form-row {
        margin-bottom: 15px; /* Aumenta o espaçamento entre as linhas */
    }
    .custom-form-row label {
        display: inline-block;
        width: 40px; /* Largura fixa para os labels */
        text-align: left;
        margin-right: 10px; /* Espaçamento entre o label e o campo */
    }
    .custom-form-row input, .custom-form-row select {
        width: 200px; /* Largura dos campos de entrada */
    }
    .tti {
        margin-bottom: 15px;
    }  
</style>
{% endblock %}

{% block content %}
<div class="module">
    <div class="tti"><strong>Digite o mês e o ano desejados para download dos documentos para contabilidade:</strong></div>
    <form action="{% url 'movimentos:download_arquivos' %}" method="post" class="form">
        {% csrf_token %}
        <div class="custom-form-row">
            <label for="mes">Mês:</label>
            <input type="number" name="mes" id="mes">
        </div>
        <div class="custom-form-row">
            <label for="ano">Ano:</label>
            <input type="number" name="ano" id="ano">
        </div>
        <div class="custom-form-row">
            <input type="submit" value="Enviar">
        </div>
    </form>
</div>
{% endblock %}
