{% extends "admin/base_site.html" %}
{% load static %}


{% block content %}
    <p> {{ conta.nome }} </p>
    <p>Visualização Livro Caixa mês: {{ mes }} ano: {{ ano }} </p>
    <p>Soma dos meses anteriores: {{ soma }}</p>
    <form id="botoes" name="botoes">
    {% csrf_token %}
    <br>
    <input type="submit" id="pdf" value="Gerar Pdf"></input>
    <br>
    <input type="submit" id="excel" value="Gerar Excel"></input>
    </form>    
    {% for item in query %}
    <pre>{{ item.conta_destino }}</pre>
    {% endfor %}


    <script src="{% static 'buttons.js' %}"></script>
{% endblock %}


