{% extends "admin/base_site.html" %}

{% block content %}
    <!-- Custom content here -->
    <p>Preencha com os filtros desejados:</p>
    <form action="{% url 'movimentos:relatorio_final_detalhado' %}" method="post">
    {% csrf_token %}
    <label for="mes">Mês<input type ="number" name="mes" id="mes"></label>
    <br>
    <label for="ano">Ano
    <input type ="number" name="ano" id="ano"></label>
    <br>
    <label for="centro_custo">Projeto
    <select name="centro_custo" id="centro_custo">
    <option value="all">Todos</option>
    {% for centro_custo in centros_custos %}
        <option value="{{ centro_custo.id }}">{{ centro_custo.descricao }}</option>
    {% endfor %}
    </select>
    </label>
    <br>
    <label for="orcamento"> Item Orçamentário
    <select name="orcamento" id="orcamento">
    <option value="all">Todos</option>
    {% for orcamento in orcamentos %}
        <option value="{{ orcamento.id }}">{{ orcamento.descricao }}</option>
    {% endfor %}
    </select>
    </label>
    <br>
    <input type="submit">
    </form>
{% endblock %}