{% extends 'base.html' %}

{% block title %}Movimentos de Caixa{% endblock %}

{% block content %}
<div class="row justiy-content-center">
    <div class="col-lg-3">
<div class="card shadow-custom border-0">
<h4 class="p-3 font-weight-bold text-grey"> Projetos
</h4>
<ul class="list-group border-0 categories_list">
<li class="list-group-item border-0 p-0 selected"> <a href="" class="btn btn-block text-left">Todas</a> </li>
{% for projeto in projetos %}
<li class="list-group-item border-0 p-0
unselected">
<a href="" class="btn btn-block text-left"> {{ projeto.descricao}}
</a>
</li>
{% endfor %}
</ul>
</div>
</div>
<div class="col-lg-6">
<div class="card shadow-custom border-0 mb-4">
<div class="card-body text-center">
<h2 class="font-weight-bold text-grey">
Movimentações</h2>
<div class="bottom_line"></div>
</div>
</div>
<div class="row no-gutters"> {% for movimento in movimentos %} <div class="col-sm-6">
<div class="card product"> <div class="item">
<div class="item-image">

</div>
<div class="item-text">
<div class="item-text-wrap">
    
<a href="" class="h2 text-white text-
decoration-none">
SHU
<i class="fa fa-search-plus"></i> </a> </div>
</div>
<div class="card-body text-center"> {{ movimento.data_lcto }}
<hr>
<span>{{ movimento.historico }}</span> <div>
</div>
</div>
</div>
</div> </div>
{% endfor %}
</div></div>
<div class="col-lg-3"></div>
</div>
<hr>
{% endblock content %}